
.homepage-background{
  width: 100%;
  height: 100vh;

  background-image:
         linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.81)),
         url('../images/homepage-background-image.jpg');
  background-size: cover;
display: flex;

}
.homepage-items-container{
color: aliceblue;
   width:70vw;
   margin:auto;
    font-weight: 400;
    height: 40vh;
}
.homepage-title{
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 30px 0;
}
