input{
    margin: 20px  0 0 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
}
ul{
    color: black;
    background: white;
    width: 100%;

    border-radius: 5px;
    font-size: 15px;
    list-style-type: none;
margin-top:4px;
    padding: 10px 15px 10px 15px;
}
li{
    margin:7px;
    cursor: pointer;

}